* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background: linear-gradient(45deg, #190361 0%, #BB00FF 100%);
    
    height: 100vh;

    display: grid;
    place-items: center;

    font-size: 1.5rem;
    line-height: 2rem;
    color: #34355B;

    
}

main {
    background-color: white;
    padding: 4.8rem 6.4rem 6.4rem;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
    border-radius: 5px;

    width: min(42.8rem, 80%);
    margin-top: -12rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Screen 1 */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;

    margin-bottom: 1.4rem;
    width: 25.8rem;

    text-align: center;
}

p, button {
    font-family: 'DM Sans', sans-serif;
}

p {
    margin-bottom: 2rem;
    text-align: center;
}

/* Screen 2 */
.screen2 {
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.9rem;
    
    width: 28rem;
    text-align: center;
    margin-bottom: 1.7rem;
}

.screen2 p {
    font-family: 'Dancing Script', cursive;
    font-size: 2.4rem;
    line-height: 2.9rem;
    text-align: center;
    color: #000000;

    background: #E4EDF1;
    box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);

    padding: 1rem;
    margin-bottom: 1.7rem;
}

button {
    padding: 1.6rem;
    background: #FF9500;
    border-radius: .4rem;
    border-style: none;

    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    color: white;

    margin: 1.7rem 6.3rem 0;

    cursor: pointer;
}

button:hover {
    background: #df8302;

}

.hide {
    display: none;
}

.screen1 img:hover {
    animation: shake 500ms infinite;
}

#message {
    animation: msgAppering 2s;
}


/* Aniamtion */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes msgAppering {
    from {
        transform: translateY(15rem) scale(0);
    }

    to {
        transform: translateY(0px) scale(1);
    }
}

@media (max-width: 90rem) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main {
        width: min(42.8rem, 65%);
    }

    .screen1 #findLuck {
        animation: shake 500ms infinite;
    }

}